.todoitem {
  background-color: beige;
  border: "2px solid green";
}

.todoitem label {
  color: green;
  font-family: sans-serif, Consolas, Baskerville, "Segoe UI";
}

.todoitem input[type="checkbox"]:hover {
  box-shadow: 0px 0px 10px red;
}
